* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  max-width: 1440px;
	width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #505f98;
}

.button {
  all: unset;
  text-align: center;
  border-radius: 2px;
  border-color: #111b47;
  background-color: #111b47;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}

.hero-background {
  background-image: url("./assets/images/designer_1.png");
  background-repeat: no-repeat;
  background-position: 421px -86px; /*362px+59px*/
  min-width: 1440px;
  min-height: 1073px; /*1159px-86px*/
  margin-bottom: 37px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.header__navigation {
  max-width: 245px;
	width: 100%;
  height: 24px;
	margin: 0;
}

.header__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.header__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
}

.logo {
	margin: 0;
}

.header__button {
  font-size: 12px;
  line-height: 1.5;
  width: 160px;
  height: 26px;
  box-sizing: border-box;
}

.hero-content {
  max-width: 539px;
	width: 100%;
  height: 420px;
  margin-left: 108px;
  margin-top: 205px; /*265px-60px*/
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.hero-content__text-block {
  width: 543px;
  height: 316px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.hero-content__title {
  height: 132px;
  font-size: 50px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  color: #091133;
}

.hero-content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
}

.hero-content__buttons {
  display: flex;
  gap: 30px;
}

.hero-content__button {
  width: 189px;
  height: 35px;
  line-height: 1.625;
  border: 2px solid #091133;
  box-sizing: border-box;
  font-size: 16px;
}

.hero-content__button--light {
  width: 189px;
  height: 36px;
  border: 2px solid #091133;
  box-sizing: border-box;
  color: #091133;
  background: none;
  font-size: 16px;
}

.undraw {
  max-width: 1440px;
	width: 100%;
  height: 742px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.undraw__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.section__text-block {
  width: 540px;
  height: 204px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33333;
  color: #091133;
}

.section__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #6f7cb2;
}

.undraw__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.undraw__card {
  width: 255px;
  height: 138px;
}

.undraw__icon-container {
  width: 255px;
  height: 36px;
}

.undraw__icon-png {
  aspect-ratio: 1/1;
}

.undraw__title {
  font-size: 16px;
  line-height: 1.625;
  color: #091133;
}

.undraw__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #5d6970;
}

.intro,
.intro-copy,
.cta {
  max-width: 1440px;
	width: 100%;
  height: 569px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta__content {
  display: flex;
  flex-direction: column;
}

.cta__button {
  width: 150px;
  height: 32px;
  margin-top: 40px;
}

.pricing-and-footer {
  background-image: url("./assets/images/Rectangle.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 1440px 938px;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__content {
  max-width: 600px;
  text-align: center;
  margin-top: 237px;
  margin-bottom: 127px;
}

.pricing__price {
  font-size: 50px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  text-align: center;
  color: #222f65;
}

.pricing__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #37447e;
  margin-bottom: 60px;
}

.pricing__body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #5d6970;
  margin-bottom: 10px;
}

.pricing__button {
  width: 189px;
  height: 31px;
  font-size: 14px;
  line-height: 1.71429;
}

.footer-content {
  max-width: 1440px;
  height: 216px;
  background-color: #e7ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-content__upper,
.footer-content__lower {
  max-width: 1110px;
  width: 100%;
	flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content__image {
	margin: 0;
}

.footer-content__button {
  width: 109px;
  height: 26px;
  font-size: 12px;
  line-height: 1.5;
}

.footer-content__rectangle {
  max-width: 1110px;
  width: 100%;
  height: 1px;
  background: #cdd1d4;
}

.footer-content__navigation {
  width: 245px;
  height: 24px;
	margin: 0;
}

.footer-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #929ecc;
}

.footer-content__social {
	margin: 0;
  display: flex;
  gap: 30px;
}

.footer-content__social-item:hover{
	opacity: 0.7;
	cursor: pointer;
}